.App {
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.Menu {
  text-align: right;
  border-bottom: none;
}

.MovieForm {
  margin: 40px auto;
  width: 65%;
  text-align: center;
  box-shadow: 0 10px 50px #ccc;
  box-sizing: border-box;
}

.MovieDisplay {
  text-align: left;
}

.FormText {
  padding: 60px;
}

.Poster {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.ant-form-text {
  margin-right: 20px;
}