.App {
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.Menu {
  text-align: right;
  border-bottom: none;
}

.MovieForm {
  margin: 50px auto;
  width: 60%;
  text-align: center;
  box-shadow: 0 10px 50px #ccc;
  padding: 60px;
  box-sizing: border-box;
}

.Poster {
  height: 300px;
  width: auto;
}